<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2021 Afeng & tianfeng All Rights Reserved
  ~ (email:afeng7882999@163.com, qq:7882999).
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.foundi.admin.system.dao.GroupDao">

    <resultMap id="BaseResultMap" type="net.foundi.admin.system.entity.domain.GroupDo">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="name" property="name" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getGroupsByRoleIds" resultMap="BaseResultMap" parameterType="java.util.List">
        SELECT * FROM sys_group g LEFT JOIN sys_role_group rg ON rg.group_id = g.id WHERE rg.role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <select id="getIdsByParentId" resultType="Long">
        SELECT id FROM sys_group WHERE parent_id = #{parentId} AND del_flag = 0
    </select>

</mapper>