<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2021 Afeng & tianfeng All Rights Reserved
  ~ (email:afeng7882999@163.com, qq:7882999).
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.foundi.admin.system.dao.MessageHistoryDao">

    <resultMap id="BaseResultMap" type="net.foundi.admin.system.entity.domain.MessageHistoryDo">
        <id column="id" property="id" />
        <result column="receiver_id" property="receiverId" />
        <result column="message_id" property="messageId" />
        <result column="status_dict" property="statusDict" />
    </resultMap>

</mapper>