<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2021 Afeng & tianfeng All Rights Reserved
  ~ (email:afeng7882999@163.com, qq:7882999).
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.foundi.admin.system.dao.RoleGroupDao">

    <resultMap id="BaseResultMap" type="net.foundi.admin.system.entity.domain.RoleGroupDo">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO sys_role_group(id, role_id, group_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.roleId},#{item.groupId})
        </foreach>
    </insert>

</mapper>